body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: grey;
  color: white;
  padding: 30px 0;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 110px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  border-radius: 30px;
}

footer {
  background-color: brown;
  color: white;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.tag-link {
  display: inline-block;
  padding: 4px 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  text-decoration: none;
  color: #333;
  font-size: 0.95rem;
  transition: all 0.2s ease;
}

.tag-link:hover {
  background-color: #f8f9fa;
  color: #f48024;
  border-color: #f48024;
}

.btn.btn-outline-orange{
  color:#f48024;
  border-color:#f48024;
}
.btn.btn-outline-orange:hover{
  background-color:#f48024;
  color:#fff;
  border-color:#f48024;
}
