{% extends "layout/base.html" %}
{% load static %}

{% block content %}

<div class="container py-5">
  <div class="col-md-7 mx-auto">
    <h3 class="mb-4 fw-semibold border-bottom pb-2">Edit Profile</h3>

    <form class="vstack gap-4">
      <div>
        <label class="form-label fw-semibold">Login</label>
        <input type="text" class="form-control" placeholder="Enter login">
      </div>

      <div>
        <label class="form-label fw-semibold">Email</label>
        <input type="email" class="form-control" placeholder="Enter email">
      </div>

      <div>
        <label class="form-label fw-semibold">Username</label>
        <input type="text" class="form-control" placeholder="Enter username">
      </div>

      <div>
        <label class="form-label fw-semibold">Avatar</label>
        <div class="d-flex align-items-center gap-3">
          <img src="{% static 'img/user-avatar.jpg' %}" alt="Avatar" class="rounded border" width="96" height="96" style="object-fit: cover;">
          <div class="flex-grow-1">
            <input class="form-control mb-2" type="file" id="avatar" name="avatar">
			<div class="mt-4">
				<button 
					type="submit" 
					class="btn btn-lg text-white fw-semibold shadow-sm px-4" 
					style="background-color: #f48024; border-color: #f48024;"
				>
					Save
				</button>
			</div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


{% endblock %}